body {
	background: #8F52CE;
	background: -moz-linear-gradient(left, #8F52CE 0%, #9476A4 50%, #5F74C5 100%);
	background: -webkit-linear-gradient(left, #8F52CE 0%, #9476A4 50%, #5F74C5 100%);
	background: linear-gradient(to right, #8F52CE 0%, #9476A4 50%, #5F74C5 100%);
}

div.purpleHorizon {
  border: 8px solid #000000;
  background-color: #4A2F6F;
  width: 95%;
  /*height: 65%;*/
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  table-layout: fixed;
  
}
.divTable.purpleHorizon .divTableCell, .divTable.purpleHorizon .divTableHead {
  border: 5px solid #000000;
  padding: 10px 10px;
}
.divTable.purpleHorizon .divTableBody .divTableCell {
  font-size: 15px;
  font-weight: bold;
  color: #666666;
}
.divTable.purpleHorizon .divTableRow:nth-child(even) {
  background: #4A2F6F;
}
.purpleHorizon .tableFootStyle {
  font-size: 13px;
}
.purpleHorizon .tableFootStyle .links {
	 text-align: center;
}
.purpleHorizon .tableFootStyle .links a{
  display: inline-block;
  background: #4A2F6F;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.purpleHorizon.outerTableFooter {
  border-top: none;
}
.purpleHorizon.outerTableFooter .tableFootStyle {
  padding: 3px 5px; 
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}


input[type=range].volume-slider {
  -webkit-appearance: none;
  width: 100%;
  margin: -3.35px 0;
}
input[type=range].volume-slider:focus {
  outline: none;
}
input[type=range].volume-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 31.7px;
  cursor: pointer;
  box-shadow: 0.4px 0.4px 0px #000000, 0px 0px 0.4px #0d0d0d;
  background: #46262c;
  border-radius: 1.8px;
  border: 3.5px solid rgba(1, 1, 1, 0.38);
}
input[type=range].volume-slider::-webkit-slider-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
  border: 2.9px solid #941e00;
  height: 25px;
  width: 34px;
  border-radius: 28px;
  background: rgba(255, 55, 56, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.15px;
}
input[type=range].volume-slider:focus::-webkit-slider-runnable-track {
  background: #572f36;
}
input[type=range].volume-slider::-moz-range-track {
  width: 100%;
  height: 31.7px;
  cursor: pointer;
  box-shadow: 0.4px 0.4px 0px #000000, 0px 0px 0.4px #0d0d0d;
  background: #46262c;
  border-radius: 1.8px;
  border: 3.5px solid rgba(1, 1, 1, 0.38);
}
input[type=range].volume-slider::-moz-range-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
  border: 2.9px solid #941e00;
  height: 25px;
  width: 34px;
  border-radius: 28px;
  background: rgba(255, 55, 56, 0.93);
  cursor: pointer;
}
input[type=range].volume-slider::-ms-track {
  width: 100%;
  height: 31.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].volume-slider::-ms-fill-lower {
  background: #351d22;
  border: 3.5px solid rgba(1, 1, 1, 0.38);
  border-radius: 3.6px;
  box-shadow: 0.4px 0.4px 0px #000000, 0px 0px 0.4px #0d0d0d;
}
input[type=range].volume-slider::-ms-fill-upper {
  background: #46262c;
  border: 3.5px solid rgba(1, 1, 1, 0.38);
  border-radius: 3.6px;
  box-shadow: 0.4px 0.4px 0px #000000, 0px 0px 0.4px #0d0d0d;
}
input[type=range].volume-slider::-ms-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
  border: 2.9px solid #941e00;
  width: 34px;
  border-radius: 28px;
  background: rgba(255, 55, 56, 0.93);
  cursor: pointer;
  height: 25px;
}
input[type=range].volume-slider:focus::-ms-fill-lower {
  background: #46262c;
}
input[type=range].volume-slider:focus::-ms-fill-upper {
  background: #572f36;
}

input[type=image].googleAuthButton {
	margin-left: auto;
	margin-right: auto;
}

.activate-button {
	-moz-box-shadow:inset 0px 34px 0px -15px #7c529e;
	-webkit-box-shadow:inset 0px 34px 0px -15px #7c529e;
	box-shadow:inset 0px 34px 0px -15px #7c529e;
	background-color:#522f73;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:5px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 0px 0px #96554b;
}
.activate-button:hover {
	background-color:#541d70;
}
.activate-button:active {
	position:relative;
	top:1px;
}

.clipTitleText {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 40px;
	letter-spacing: 4.4px;
	word-spacing: -5px;
	color: #6D00FF;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: capitalize;
}

.titleText {
	font-family: "Times New Roman", Times, serif;
	font-size: 80px;
	letter-spacing: -5px;
	word-spacing: 6px;
	color: #99A8FF;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: small-caps;
	text-transform: uppercase;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 200px;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 8px 16px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 0px;
        background: #482c79;
        color: #ffffff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #ffffff;
            background: #250c8b;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

.save-input {
     padding: 4px;
     font-size: 16px;
	 width: 200px;
     border-width: 2px;
     border-color: #CCCCCC;
     background-color: #9848ee;
     color: #ffffff;
     border-style: dashed;
     border-radius: 50px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
 .save-input:focus {
     outline:none;
}
